// ----------------------------------------------
// Colours
// ----------------------------------------------

$blue: #8085FF;
$green: #63b35e;
$red: #FF8080;
$sand: #ebd7bf;
$sand-dark: #d5ba9c;

// ----------------------------------------------
// Hover Colours
// ----------------------------------------------

$bluehover: #5f62b5;
$greenhover: #5c9f58;
$redhover: #bd3939;
$sand-darkhover: #c1a991;
